<div class="container__big-card">
    <div class="big-card__img">
        <a [routerLink]="['content', Id]">
        <img src={{fotoCapa}}
        alt=""
        height="240px"
        >
    </a>
    </div>
    <div class="big-card__titulo">
        <h1><a [routerLink]="['content', Id]">{{ cardTitulo}}</a></h1>
    </div>
    <div class="big-card__descricao">
        <p>
            <a [routerLink]="['content', Id]">
                {{srcDescricao}}
            </a>
        </p>
    </div>
</div>
