<div class="container__big-card">
    <div class="big-card__img">
        <img src="https://th.bing.com/th/id/OIP.bKUsWQ27Ec4VWyzuSiferQHaEK?w=1920&h=1080&rs=1&pid=ImgDetMain" 
        alt=""
        height="240px"
        
        >
    </div>
    <div class="big-card__titulo">
        <h1><a href="#">Silent hill jogo de terror classico</a></h1>
    </div>
    <div class="big-card__descricao">
        <p>
            <a href="#">
                Lorem Ipsum is simply dummy text of the printing 
                and typesetting industry. Lorem Ipsum has been the 
                industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and 
                scrambled it to make a type specimen book. It has 
            </a>
        </p>
    </div>
</div>
