
<div class="container__small-card">
    <div class="container__small-card-content">

        <div class="small-card__img">
            <img src="https://th.bing.com/th/id/OIP.e26kbMLxPsZ0iIQcviisPAHaEK?w=1920&h=1080&rs=1&pid=ImgDetMain" 
            alt=""
            height=""
            
            >
        </div>
        <div class="small-card__titulo">
            <h1><a href="#">Silent hill jogo de terror classico</a></h1>
        </div>

    </div>

    <div class="container__small-card__separador">
        <hr>
    </div>

</div>

