
<div class="container__small-card">
    <div class="container__small-card-content">
        <a [routerLink]="['content', Id]">
            <div class="small-card__img">
                <img src={{fotoCover}} 
                alt=""
                height=""
                >
            </div>
        </a>
        <div class="small-card__titulo">
            <h1><a [routerLink]="['content', Id]">{{cardTitulo}}</a></h1>
        </div>

    </div>

    <div class="container__small-card__separador">
        <hr>
    </div>

</div>

